<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Student Management Appication</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
  <h1>Create New Student</h1>
  <br/>
  <br/>
  <div>
<!--    <div th:if="${errorMessage}" th:utext="${errorMessage}" style="color:red;font-style:italic;"></div>-->
    <form method="post" th:action="@{/users/add}" th:object="${userRegisForm}">
      <div>Username: <input type="text" th:field="*{username}"/></div>
      <div>Email: <input type="text" th:field="*{email}"/></div>
      <div>Roles:
        <select th:field="*{roleCode}">
          <option th:each="role : ${roles}" th:value="${role.code}" th:utext="${role.name}"></option>
        </select>
      </div>
      <div><input type="submit" value="Create" /></div>
    </form>
  </div>
</body>
</html>
