<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Student Management Appication</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
  <h1>Student List</h1>
  <a th:href="@{/student/add}">Add New Student</a>
  <br/>
  <br/>
  <div>
    <table border="1">
      <thead>
        <th>ID</th>
        <th>USER NAME</th>
        <th>EMAIL</th>
        <th>PHONE</th>
        <th>ACTIVE</th>
      </thead>
      <tbody>
        <tr th:each="user : ${studentList}">
          <td><a th:href="@{/student/edit/{studentId}(studentId=${user.id})}" th:text="${user.id}"></a></td>
          <td th:utext="${user.username}"></td>
          <td th:utext="${user.email}"></td>
          <td th:utext="${user.phone}"></td>
          <td th:utext="${user.active}"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
  <a th:href="@{/users/add}">Prev</a>
  </div>
</body>
</html>